@import './assets/scss/parcials/colors';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Roboto:wght@300&display=swap');

html, body {
    height: 100%;
    margin: 0;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/**/
.text-centered {
    text-align: center;
}

.input-container {
    margin-bottom: 1rem;
    .icon-input {
        position: relative;
        span {
            position: absolute;
            height: 100%;
            background-color: $bambu;
            border-radius: 3px 0 0 3px;
            padding: 0 10px;
            color: $white;
            line-height: 50px;
        }
        input[type="email"], input[type="text"], input[type="password"] {
            padding-left: 45px;
        }
    }
    &.in-line {
        display: inline-block;
        margin-right: 1rem;
    }
    label {
        display: block;
    }
    input[type="email"], input[type="text"], input[type="password"] {
        padding: 1rem;
        display: block;
        width: 100%;
    }
    select {
        border-radius: 3px;
        padding: .5rem 1rem;
        color: $light;
        border: 1px solid $light;
    }
    .btn {
        border: none;
        padding: 1rem;
        cursor: pointer;
        &.disabled {
            background-color: rgba($turquoise, .2)!important;
            cursor: not-allowed;
        }
        &.block {
            display: block;
            width: 100%;
        }
        &.turquoise {
            background-color: $turquoise;
            color: $white;
        }
        &.bambu {
            background-color: $bambu;
            color: $white;
        }        
    }
}

.container {
    padding: 0 1rem;
}